*{
    box-sizing: border-box;
}

.input-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 300px;   
    
}

.input-elements {
    padding: 15px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 15px;
    width: 300px;
    border: none;
    outline: none;
}

.label-input {
    background-color: white;
    color: brown;
    font-size: 14px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0px 2px;
}
.form-container {
    margin: 20px;
    display: flex;
    width: 72vw;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid violet;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 1px 2px blueviolet;
    cursor: pointer;
}
.form-container:hover{
    border: 2px solid blueviolet;
}
.input-container:hover {
    border: 1px dashed blue;
}
.select-lang {
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
}

.list-inputs{ 
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.add-button {
    display: flex;
}
.title-head {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    width: 30vw;
}
.skill-box,.lang-box{
    width: 30vw;
}
.add-btn{
    background-color: white;
    border: none;
    cursor: pointer;
}
.add-btn:hover {
    text-decoration: underline;
    color: blueviolet;
}
.save-btn {
    background-color: blueviolet;
    font-size: 15px;
    color: white;
    font-family: "Roboto";
    border: 0px;
    border-radius: 7px;
    width: 130px;
    height: 35px;
    padding: 8px;
   margin: 3px;
   cursor: pointer;
}
.delete-btn{
    width: 130px;
    font-size: 15px;
    color: cadetblue;
    background-color: white;
    border: 2px solid blanchedalmond;
    border-radius: 7px;
    height: 35px;
    margin: 3px;
    cursor: pointer;
    
}
.save-delete-btns{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}
.list-of-languages,.list-of-skills {
    list-style-type: none;
}
.languages,.skills {
    height: 35px;
    border: 1px solid violet;
    font-size: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-bottom: 3px;

}
.social-list-inputs {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0px;
}